amqp==5.1.1
asgiref==3.4.1
billiard==3.6.4.0
bpyutils==0.5.8
Brotli==1.0.9
cached-property==1.5.2
cairocffi==1.2.0
CairoSVG==2.5.2
celery==5.1.2
cffi==1.15.1
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
coverage==6.2
cssselect2==0.7.0
dataclasses==0.6
defusedxml==0.7.1
diff-match-patch==20200713
dj-database-url==0.5.0
Django==3.2.15
django-bootstrap-datepicker-plus==3.0.5
django-celery-beat==2.2.1
django-celery-results==2.2.0
django-ckeditor==6.1.0
django-cleanup==6.0.0
django-cors-headers==3.10.1
django-crispy-forms==1.13.0
django-dbbackup==4.0.2
django-debug-toolbar==3.2.4
django-extensions==3.2.1
django-filter==21.1
django-heroku==0.3.1
django-import-export==2.7.1
django-jazzmin==2.5.0
django-js-asset==1.2.2
django-prometheus==2.2.0
django-timezone-field==4.2.3
django-widget-tweaks==1.4.11
djangorestframework==3.14.0
et-xmlfile==1.1.0
flake8==5.0.4
fonttools==4.27.1
future==0.18.2
gunicorn==20.1.0
html5lib==1.1
importlib-metadata==4.2.0
jdcal==1.4.1
joblib==1.2.0
kombu==5.1.0
MarkupPy==1.14
mccabe==0.7.0
numpy==1.23.4
odfpy==1.4.1
openpyxl==3.0.10
pandas==1.5.1
Pillow==8.4.0
pipdeptree==2.2.1
pipupgrade==1.12.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
psycopg2==2.9.3
pycodestyle==2.9.1
pycparser==2.21
pydyf==0.1.2
pyflakes==2.5.0
pyphen==0.11.0
python-crontab==2.6.0
python-dateutil==2.8.2
pytz==2022.4
PyYAML==6.0
scikit-learn==1.1.3
scipy==1.9.3
six==1.16.0
sklearn==0.0.post1
sqlparse==0.4.3
tablib==3.1.0
threadpoolctl==3.1.0
tinycss2==1.1.1
typing_extensions==4.1.1
vine==5.0.0
wcwidth==0.2.5
weasyprint==54.3
webencodings==0.5.1
Werkzeug==2.0.3
whitenoise==5.2.0
xlrd==2.0.1
xlwt==1.3.0
zipp==3.6.0
zopfli==0.1.9
