{% extends "dashboard/dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css  %}
<link rel="stylesheet" type="text/css" href="{% static 'doctor/css/profile.css' %}">
<style>
  .form-gap {
    padding-top: 70px;
}
.boder {
    background: #fff;
}
.panel-body {
    padding: 22px;
}
.panel-body {
    border: 1px solid #6b6b6b;
    padding: 27px 16px;
}

</style>
{% endblock extra_css %}

{% block body  %}
<form id="application_form" action="" enctype="multipart/form-data" class="form-register" method="POST"
      accept-charset="UTF-8">
    {% csrf_token %}
    <div class="form-gap"></div>
    <div class="container">
        <div class="row">

                <div class="col-md-12 col-md-offset-4 boder">
                <div class="row">
                     <div class="col-md-3"></div>
                    <div class="col-md-6 justify-content-center">
                            <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-center">
                                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                                    <h2 class="text-center">Forgot Password?</h2>
                                    <p>You can reset your password here.</p>
                                    <div class="panel-body">

                                        {{ form | crispy }}

                                            <div class="form-group">
                                                <input name="recover-submit" class="btn btn-lg btn-primary btn-block"
                                                       value="Reset Password" type="submit">
                                            </div>

                                            <input type="hidden" class="hide" name="token" id="token" value="">

                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="col-md-3"></div>
                </div>
                </div>

        </div>

    </div>
</form>
{% endblock %}

{% block extra_ja %}
<script>

</script>
<script src="{% static 'custom/load_data.js' %}"></script>
{% endblock %}